@page "/"

<PageTitle>Event Ease</PageTitle>

<h1>Welcome to Event Ease</h1>

Register for events, manage your schedule.

<div class="mt-4">
<NavLink class="btn btn-primary" href="events">
   Click here to manage your events.
</NavLink>
</div>